{
  "$schema": "https://raw.githubusercontent.com/oasis-tcs/sarif-spec/master/Schemata/sarif-schema-2.1.0.json",
  "version": "2.1.0",
  "runs": [
    {
      "tool": {
        "driver": {
          "name": "cyber-red",
          "version": "{{ version }}",
          "informationUri": "https://github.com/cyber-red/cyber-red",
          "rules": {{ rules | tojson }}
        }
      },
      "results": {{ results | tojson }}
    }
  ]
}
